a {
    color: antiquewhite;
}
#menu {
    background-color: rgb(143, 87, 68);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.titulo {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;    
    text-align: right;  
    position: absolute;
    top: 50%;
    left: 70%;
    font-size: 100px;
    z-index: 1;
    color: darksalmon;
}

#menu ul {
    list-style: none;
    font-family: "Just Another Hand", cursive;
    font-size: x-large;
}

#menu ul li {
    display: inline-block;
    font-family: "Just Another Hand", cursive;
}

.nomemaju {
    position: absolute;
    left: 48%;
    top: 5px;
    font-family: "Just Another Hand", cursive;
    font-size: xx-large;
    color: #fff;

}

.contatos {
    position: absolute;
    left: 90%;
    top: 15%;
}

.imglogos {
    width: 35px;

}

#home {
    width: 100%;
    height: 100vh;
    background-color: black;
}


.imagem1 {
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    background: url(Imagem1.jpeg);
}

#sobremim {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: darksalmon;

}

.textoso{
    font-family: "Just Another Hand", cursive;
    font-size: 200%;
    margin-left: 15%;
    margin-right: 15%;
}

.maju01 {
    margin-left: 30%;
    margin-right: 25%;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(143, 80, 80);
}

.sub{
    font-family: "Just Another Hand", cursive;
    text-align: center;
    font-size: 400%;
}

#projetos {
    width: 100%;
    height: 100vh;
    background-color: lightsalmon;
    left: 50%;
    right: 50%;
}


.carousel-item {
    text-align: center;
}



#fotosstill {
    width: 100%;
    height: 90vh;
    background-color: darksalmon;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.fotinhos{
    box-shadow: 10px 10px rgb(143, 80, 80);

}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


#contato {
    width: 100%;
    height: 75vh;
    background-color: lightsalmon;
}

.container-contato {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    right: 50%;
    left: 40%;
    width: 100%;
    max-width: 400px;
    position: absolute;
    box-shadow: 10px 10px rgb(143, 80, 80);

}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.links {
    margin: 20px ;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:darksalmon;
    padding: 10px 20px;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px rgb(143, 80, 80);

}

.link img {
    width: 50px;
    height: 50px;
}

